<mat-toolbar style="background-color: #4169e1; color: azure;">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="color: azure;">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Prysmos</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" style="color: azure;">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" style="color: azure;">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
