@use '@angular/material' as mat;

// Definindo cores personalizadas usando paletas disponíveis
$custom-app-primary: mat.define-palette(mat.$indigo-palette);
$custom-app-secondary: mat.define-palette(mat.$pink-palette);

// Criando o tema
$custom-app-theme: mat.define-light-theme((
  color: (
    primary: $custom-app-primary,
    secondary: $custom-app-secondary,
  )
));

// Aplicar o tema a todos os componentes do Angular Material
@include mat.all-component-themes($custom-app-theme);

// Estilos globais
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
